<h2>Send fan mail here</h2>
<form>
    <label>From: </label>
    <input id="txtFrom"/>
    <br />
    <label>Subject: </label>
    <input id="txtSubject" />
    <br />
    <label>Message: </label>
    <br />
    <textarea rows="4" id="txtMessage"></textarea>
    <br />
    <input type="button" value="Send Message" id="btnSubmit" />
</form>