
    <body>
        
        <p>Bla bla bla bla bla</p>
        <p>Pop quiz</p>
        <ul>
            <li>A: Option a</li>
            <li>B: Option b</li>
            <li>C: Option c</li>
            <li>D: Option d</li>
            <li>E: Option e</li>
        </ul>



    </body>
    </html>

