<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <title>Professor Hilton Fan Site</title>
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>

    <h1>Professor Hilton Fan Club</h1>
    <h3>The one, the only Mr. Spencer Hilton</h3>
    <img src="/lib/EvkDcnXWQAYs9l_.jpg" height="400" id="imgHilton" />

    <div>
        @RenderBody()
    </div>


    <script src="lib/jquery/jquery.min.js"></script>
    <script src="js/site.js"></script>
</body>
</html>
